.error {
    position: absolute;
    color: red;
    text-align: center;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.userListDate {
    display: flex;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */